{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'login_register.css' %}" />
</head>

<body>
    <div class="login-page">
        <div class="form">
            <form class="login-form" method="POST">
                {% csrf_token %}
                <p><label for="id_username">Username:</label> <input type="text" name="username" required id="id_username" maxlength="32" /></p>
                <p><label for="id_password">Password:</label> <input type="password" name="password" required id="id_password" maxlength="32" /></p>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</body>

</html>